a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: none;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    #login-main-form {
        min-width: 300px;
    }
}